asyncpg==0.30.0
fastapi==0.115.6
greenlet==3.1.1
httpx==0.28.1
pydantic==2.10.4
pydantic-settings==2.7.0
pytest==8.3.4
python-dotenv==1.0.1
SQLAlchemy==2.0.36
streamlit==1.41.1
uvicorn[standard]==0.32.1
